/* Global reset */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(145deg, rgba(6, 6, 6, 1) 0%, rgba(88, 0, 0, 1) 100%);
  height: 100%;
  font-family: 'Outfit', sans-serif;
  /* Apply the global font */
}